*{
    margin: 5px;
}

nav > div{
    height: 30px;
}

.nav-text{
    float:left;
    padding: 5px;
}

.nav-text a:hover{
    background-color: beige;
}

.nav-icons{
    float: right;
}

nav > div > div > a {
    text-decoration: none;
    color:#000;
    font-size: 18px;
    width: 100px;
    padding: 5px;
    text-align: center;
}

.container{
    border: 1px solid #000000;
    overflow: hidden;
    width: 100%;
}

.main{
    width: 65%;
    border:2px solid blue;
}

.left-side{
    width: 30%;
    margin-top: 0px;
    float: right;
    border:2px solid green;
}

.lunch{
    padding: 20px;
}

.little-img > img{
    width: 200px;
    height: 200px;
    padding: 5px;
}

.lunch-img{
    width: 100%;
}

.main-head{
    font-size:45px;
}

.logo img{
    position: absolute;
    width: 200px;
    height: 54px;
    margin-left: 10px;
    margin-top:23px;
}

.nav{
    position: relative;
    margin:0px 0px 0px 210px;
    border: 2px solid #f1f1f1;
    width: auto;
    height: 50px;
    background-color: #f1f1f1;
}